* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

body {
  background-color: #F8F8F8;
}

:focus {
  outline: none;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-underline-position: under;
  transition-duration: 0.6s;
}
a:hover {
  color: #20ad97;
}

h1, h2, h3 {
  color: #3F3A64;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  line-height: 1.6;
  padding: 10px 0;
  font-weight: 700;
  color: #3F3A64;
}

h5 {
  color: #696969;
  font-size: 15px;
  letter-spacing: 4px;
}

p {
  color: #696969;
  letter-spacing: 1px;
}

span {
  color: #20ad97;
}

.container-section {
  width: 1200px;
  margin: auto;
}

.active {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.title-section {
  padding: 100px 0 50px 0;
  text-align: center;
}
.title-section h2 {
  padding: 20px;
  font-size: 34px;
}

button, li {
  cursor: pointer;
}

.btn-green {
  width: 250px;
  height: 50px;
  border-radius: 6px;
  border: 0;
  font-weight: bolder;
  font-size: 16px;
  background-color: #20ad97;
  color: #FFFF;
  transition-duration: 0.6s;
}
.btn-green:hover {
  background-color: #3F3A64;
}

.elementor-image {
  position: absolute;
  padding-top: 50px;
}

.bck-box {
  position: relative;
  width: 20%;
}

.images-box-dots, .images-box-circle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.images-box-dots .images-background-dots-1, .images-box-dots .images-background-dots-2 {
  position: absolute;
  width: 140px;
  z-index: 1;
}
.images-box-dots .images-background-dots-1 img, .images-box-dots .images-background-dots-2 img {
  width: 100%;
}

.images-box-circle .images-background-circle-1, .images-box-circle .images-background-circle-2, .images-box-circle .images-background-circle-3 {
  position: absolute;
  width: 140px;
  z-index: 2;
}
.images-box-circle .images-background-circle-1 img, .images-box-circle .images-background-circle-2 img, .images-box-circle .images-background-circle-3 img {
  width: 100%;
}
.images-box-circle .images-background-circle-1 i, .images-box-circle .images-background-circle-2 i, .images-box-circle .images-background-circle-3 i {
  color: #E5C791;
}
.images-box-circle .images-background-circle-1 i, .images-box-circle .images-background-circle-2 i, .images-box-circle .images-background-circle-3 i {
  font-size: 80px;
}

.title-box h1 {
  font-size: 48px;
  padding-bottom: 16px;
}
.title-box p {
  font-size: 18px;
  line-height: 34px;
}

.input-button {
  height: 50px;
  border-radius: 3px;
  background-color: #F8F8F8;
}
.input-button input {
  height: 100%;
  padding: 15px;
  border: 0px;
  border-radius: 6px 0 0 6px;
  background-color: #F8F8F8;
}
.input-button button {
  height: 100%;
  border: 0;
  border-radius: 0 6px 6px 0;
  transition-duration: 0.6s;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #FFFF;
  box-shadow: 0 0px 13px 13px rgba(0, 0, 0, 0.1);
  z-index: 4;
}
header .header-container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 15px;
}
header .header-container .logo {
  display: flex;
  align-items: center;
  width: 250px;
  height: 100%;
}
header .header-container .logo img {
  width: 160px;
}
header .header-container #menu-nav {
  position: relative;
  height: 100%;
}
header .header-container #menu-nav ul {
  list-style: none;
}
header .header-container #menu-nav ul li {
  display: inline-block;
}
header .header-container #menu-nav ul li a {
  text-decoration: none;
}
header .header-container #menu-nav ul li a:hover {
  color: #20ad97;
}
header .header-container #menu-nav ul li:hover {
  color: #20ad97;
}
header .header-container #menu-nav ul li {
  padding: 0 18px;
  line-height: 80px;
}
header .header-container #menu-nav ul li a {
  color: black;
}
header .header-container #menu-nav ul li a i {
  font-size: 9px;
  margin-left: 2px;
}
header .header-container #menu-nav ul li a:hover {
  text-decoration: underline;
}
header .header-container #menu-nav ul li:first-child ul {
  flex-wrap: wrap;
  width: 1200px;
  height: 460px;
  left: -266px;
}
header .header-container #menu-nav ul li:first-child ul li a:hover {
  color: #20ad97;
}
header .header-container #menu-nav ul li ul {
  position: absolute;
  width: 240px;
  padding: 20px 0;
  background-color: #FFFF;
  border-bottom: 5px solid #20ad97;
  box-shadow: 0 4px 9px 0px rgba(0, 0, 0, 0.3);
}
header .header-container #menu-nav ul li ul li {
  padding: 8px 30px;
  line-height: 30px;
}
header .header-container #menu-nav ul li ul li a {
  color: #696969;
}
header .header-container #menu-nav ul li ul li a:hover {
  color: #3F3A64;
  text-decoration: none;
}
header .header-container .input-button {
  width: 230px;
}
header .header-container .input-button input {
  width: 180px;
}
header .header-container .input-button button {
  width: 45px;
  background-color: #F8F8F8;
}
header .header-container .input-button button i {
  color: #20ad97;
}
header .header-container .input-button button:hover {
  background-color: #20ad97;
}
header .header-container .input-button button:hover i {
  color: #FFFF;
}

#jumbotron {
  background-color: #FFFF;
}
#jumbotron .container-section {
  padding-top: 80px;
}
#jumbotron .container-section::after {
  content: "";
  clear: both;
  display: table;
}
#jumbotron .container-section .distant-learning-box {
  float: left;
  width: 50%;
  padding-right: 140px;
}
#jumbotron .container-section .distant-learning-box .title-box {
  margin-top: 180px;
}
#jumbotron .container-section .distant-learning-box .download-box {
  margin-top: 30px;
}
#jumbotron .container-section .distant-learning-box .download-box button {
  margin-bottom: 20px;
}
#jumbotron .container-section .distant-learning-box .download-box a {
  color: #696969;
}
#jumbotron .container-section .distant-learning-box .download-box a span {
  font-weight: 700;
  color: #20ad97;
  text-decoration: underline;
}
#jumbotron .container-section .distant-learning-box .download-box a span i {
  color: #20ad97;
}
#jumbotron .container-section .images-box {
  float: left;
  position: relative;
  width: 50%;
  height: 650px;
}
#jumbotron .container-section .images-box .elementor-image {
  z-index: 2;
}
#jumbotron .container-section .images-box .elementor-image img {
  border-radius: 50%;
}
#jumbotron .container-section .images-box .images-box-dots .images-background-dots-1 {
  display: flex;
  flex-direction: column;
  top: 200px;
  left: -100px;
}
#jumbotron .container-section .images-box .images-box-dots .images-background-dots-1 img {
  margin: 10px 0;
}
#jumbotron .container-section .images-box .images-box-dots .images-background-dots-2 {
  right: 55px;
  bottom: 40px;
}
#jumbotron .container-section .images-box .images-box-circle .images-background-circle-1 {
  right: -70px;
  top: 100px;
}
#jumbotron .container-section .images-box .images-box-circle .images-background-circle-2 {
  left: -30px;
  bottom: 150px;
}
#jumbotron .container-section .images-box .images-box-circle .images-background-circle-2 i {
  font-size: 60px;
}

#logos {
  background-color: #FFFF;
}
#logos .container-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

#online-courses {
  background-color: #F5F7FA;
}
#online-courses .container-section .courses-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#online-courses .container-section .courses-content .course-box {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin-bottom: 25px;
  transition-duration: 0.6s;
}
#online-courses .container-section .courses-content .course-box .img-course {
  width: 170px;
  margin-right: 30px;
}
#online-courses .container-section .courses-content .course-box .img-course img {
  height: 170px;
  border-radius: 50%;
  cursor: pointer;
}
#online-courses .container-section .courses-content .course-box .info-course {
  padding-right: 40px;
}
#online-courses .container-section .courses-content .course-box .info-course h5 {
  padding: 10px 0;
  font-weight: bolder;
  font-size: 23px;
  color: #20ad97;
}
#online-courses .container-section .courses-content .course-box .info-course h4 {
  cursor: pointer;
}
#online-courses .container-section .courses-content .course-box .info-course h4:hover {
  color: #20ad97;
  transition-duration: 0.6s;
}
#online-courses .container-section .courses-content .course-box .info-course p {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 13px;
  color: #696969;
}
#online-courses .container-section .courses-content .course-box .info-course p i {
  cursor: context-menu;
}
#online-courses .container-section .courses-content .course-box:hover {
  background-color: #FFFF;
  border-radius: 10px;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.2);
}
#online-courses .container-section .btn-view-courses {
  padding: 15px 0 120px 0;
  text-align: center;
}

#smart-tutoring {
  background-color: #FFFF;
  border-radius: 0 0 600px 0;
}
#smart-tutoring .container-section .tutoring-box {
  display: inline-block;
  width: calc(100% / 3);
  padding: 30px;
  cursor: pointer;
}
#smart-tutoring .container-section .tutoring-box .img-tutoring {
  width: 100%;
}
#smart-tutoring .container-section .tutoring-box .img-tutoring img {
  width: 170px;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring {
  width: 100%;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring h4 {
  cursor: pointer;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring h4:hover {
  color: #20ad97;
  transition-duration: 0.6s;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring p {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 13px;
  color: #696969;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring a {
  font-weight: 700;
  color: #696969;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring a i {
  font-size: 10px;
}
#smart-tutoring .container-section .tutoring-box .info-tutoring a:hover {
  color: #20ad97;
}
#smart-tutoring .container-section .companionship {
  display: flex;
  width: 100%;
  padding-top: 100px;
}
#smart-tutoring .container-section .companionship .companionship-video-area {
  position: relative;
  width: 50%;
  height: 650px;
  width: 670px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box {
  width: 100%;
  height: 100%;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .elementor-image {
  z-index: 3;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .elementor-image .video-play {
  position: relative;
  width: 100%;
  height: 100%;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .elementor-image .video-play img {
  border-radius: 5px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .elementor-image .video-play .icon-youtube-play {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .images-box-dots .images-background-dots-1 {
  z-index: 2;
  top: 100px;
  left: -80px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .images-box-dots .images-background-dots-2 {
  right: -15px;
  bottom: 60px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .images-box-circle .images-background-circle-1 {
  right: -180px;
  top: 13px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .images-box-circle .images-background-circle-1 i {
  font-size: 80px;
}
#smart-tutoring .container-section .companionship .companionship-video-area .images-box .images-box-circle .images-background-circle-2 {
  left: -60px;
  top: -20px;
  z-index: 1;
}
#smart-tutoring .container-section .companionship .title-box {
  width: calc(100% - 670px);
  padding: 120px 70px;
}
#smart-tutoring .container-section .companionship .title-box h5 {
  padding-bottom: 20px;
}
#smart-tutoring .container-section .companionship .title-box h5 span {
  color: #3F3A64;
  font-weight: 500;
}
#smart-tutoring .container-section .companionship .title-box p {
  margin-bottom: 80px;
}
#smart-tutoring .container-section .companionship .title-box a {
  font-weight: 700;
  color: #20ad97;
}

#top-learners {
  background-color: #F8F8F8;
  padding: 10px 40px 30px 40px;
}
#top-learners .row-testimonials .card-opacity {
  opacity: 0.5;
}
#top-learners .row-testimonials .card-testimonial {
  display: inline-block;
  width: calc(100% / 3 - 50px);
  padding: 40px 50px;
  margin: 0 25px;
  border-radius: 5px;
  background-color: #FFFF;
}
#top-learners .row-testimonials .card-testimonial .review {
  height: 250px;
  padding-bottom: 20px;
}
#top-learners .row-testimonials .card-testimonial .review p {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 13px;
  color: #696969;
}
#top-learners .row-testimonials .card-testimonial .info-student {
  display: flex;
  align-items: center;
}
#top-learners .row-testimonials .card-testimonial .info-student .photo {
  padding-right: 20px;
}
#top-learners .row-testimonials .card-testimonial .info-student .photo img {
  width: 70px;
  border-radius: 50%;
}
#top-learners .row-testimonials .card-testimonial .info-student .name-position h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 16px;
}
#top-learners .row-testimonials .card-testimonial .info-student .name-position span {
  font-size: 14px;
  color: #7e7e7e;
}
#top-learners .row-testimonials .slider {
  margin-top: 40px;
  text-align: center;
}
#top-learners .row-testimonials .slider i {
  padding: 12px;
  font-size: 10px;
  color: #7e7e7e;
  cursor: pointer;
}
#top-learners .row-testimonials .slider i:hover {
  color: #3F3A64;
  transform: scale(1.5);
}
#top-learners .row-testimonials .slider i.active-slider {
  color: #3F3A64;
  transform: scale(1.5);
}
#top-learners .certification {
  display: flex;
}
#top-learners .certification .bck-box .images-background-circle-1 {
  top: 80px;
  right: 10px;
}
#top-learners .certification .bck-box .images-background-circle-2 {
  bottom: 75px;
  right: 10px;
}
#top-learners .certification .bck-box .images-background-circle-3 {
  bottom: 0;
}
#top-learners .certification .title-section {
  width: 60%;
}
#top-learners .certification .title-section h2 {
  padding: 0px;
  margin-bottom: 30px;
}

#database {
  background-color: #FFFF;
}
#database .container-section .database-row {
  display: flex;
  width: 100%;
  height: 400px;
}
#database .container-section .database-row .database-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
  padding: 10px;
  border-left: 1px solid #F5F1ED;
  border-right: 1px solid #F5F1ED;
}
#database .container-section .database-row .database-box h4 {
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  padding: 0 45px;
  line-height: 1.1;
}
#database .container-section .database-row .database-box h4:hover {
  color: #20ad97;
  transition-duration: 0.6s;
}
#database .container-section .database-row .database-box .number {
  padding: 20px 0;
  font-size: 48px;
  font-weight: 800;
  color: #20ad97;
}

#best-blogs {
  background-color: #F5F1ED;
}
#best-blogs .container-section {
  display: flex;
  align-items: center;
  padding-bottom: 90px;
}
#best-blogs .container-section .link-blogs {
  width: 430px;
}
#best-blogs .container-section .link-blogs .title-section {
  text-align: left;
  padding: 160px 0 30px 0;
}
#best-blogs .container-section .link-blogs .title-section h2 {
  padding: 20px 0;
}
#best-blogs .container-section .link-blogs .blogs-list {
  padding-right: 30px;
}
#best-blogs .container-section .link-blogs .blogs-list ul {
  list-style: none;
}
#best-blogs .container-section .link-blogs .blogs-list ul li {
  display: flex;
  padding: 10px 0;
  transition-duration: 0.6s;
}
#best-blogs .container-section .link-blogs .blogs-list ul li a {
  font-size: 15px;
  padding-left: 5px;
  color: #3F3A64;
}
#best-blogs .container-section .link-blogs .blogs-list ul li:hover {
  color: #20ad97;
}
#best-blogs .container-section .link-blogs .blogs-list ul li:hover a {
  color: #20ad97;
}
#best-blogs .container-section .blogs-box {
  width: calc(100% - 430px);
  padding-top: 120px;
  padding-left: 30px;
}
#best-blogs .container-section .blogs-box .blog-card {
  display: inline-block;
  width: 340px;
  height: 430px;
  border-radius: 5px;
  background-color: #FFFF;
}
#best-blogs .container-section .blogs-box .blog-card .card-img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog {
  padding: 20px;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog h5 {
  cursor: pointer;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog h5:hover {
  color: #20ad97;
  transition-duration: 0.6s;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog h4 {
  cursor: pointer;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog h4:hover {
  color: #20ad97;
  transition-duration: 0.6s;
}
#best-blogs .container-section .blogs-box .blog-card .info-blog p {
  display: inline-block;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 13px;
  color: #696969;
}
#best-blogs .container-section .blogs-box .blog-card:last-child {
  margin-left: 60px;
}

#newsletters {
  display: flex;
  position: relative;
  background-color: #FFFF;
  padding-bottom: 50px;
}
#newsletters .bck-box .images-box-circle .images-background-circle-1 {
  top: 140px;
  right: -40px;
}
#newsletters .bck-box .images-box-circle .images-background-circle-1 i {
  color: #20ad97;
}
#newsletters .bck-box .images-box-circle .images-background-circle-2 {
  top: 160px;
  left: 0px;
}
#newsletters .bck-box .images-box-circle .images-background-circle-3 {
  top: 90px;
  left: -140px;
}
#newsletters .title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 100px 150px 50px 150px;
}
#newsletters .title-section .input-button {
  width: 570px;
  margin-top: 50px;
}
#newsletters .title-section .input-button input {
  width: 450px;
}
#newsletters .title-section .input-button button {
  width: calc(100% - 455px);
  background-color: #20ad97;
  color: #FFFF;
  font-weight: 700;
}
#newsletters .title-section .input-button button:hover {
  background-color: #3F3A64;
}

footer {
  height: 400px;
  padding: 70px;
  background-color: #F8F8F8;
}
footer .container-section {
  display: flex;
  color: #696969;
}
footer .container-section h3 {
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .container-section a {
  color: #696969;
}
footer .container-section a:hover {
  color: #20ad97;
}
footer .container-section .contact {
  width: 50%;
}
footer .container-section .contact div {
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 14px;
}
footer .container-section .contact ul {
  list-style: none;
}
footer .container-section .contact ul li {
  display: inline-block;
}
footer .container-section .contact ul li a {
  text-decoration: none;
}
footer .container-section .contact ul li a:hover {
  color: #20ad97;
}
footer .container-section .contact ul li:hover {
  color: #20ad97;
}
footer .container-section .contact ul {
  margin-left: 30px;
}
footer .container-section .contact ul li {
  padding-right: 20px;
}
footer .container-section .contact ul li a {
  font-size: 25px;
}
footer .container-section .footer-list {
  display: flex;
  width: 50%;
}
footer .container-section .footer-list .list-box ul {
  list-style: none;
}
footer .container-section .footer-list .list-box ul li {
  padding: 10px 30px;
  font-size: 14px;
}
footer .container-section .footer-list .list-box:first-child ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  padding-right: 150px;
}
footer .copywriter {
  text-align: center;
  padding-top: 60px;
  font-size: 14px;
}
