<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
  <!-- foglio di stile -->
  <link rel="stylesheet" href="css/app.css">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Max Coach</title>
</head>
<body>
  <div id="app" class="container">
    <!-- header -->
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="img/dark-logo.png" alt="logo">
        </div>
        <div id="menu-nav">
          <ul>
            <li v-for="item in linkMenu">
              <a href="#">
                {{ item.menuItem }}
                <i class="fas fa-chevron-down"></i>
              </a>
              <ul>
                <li v-for="element in item.subMenu">
                  <a href="#">
                    {{ element }}
                  </a>
                </li>
              </ul>
            </li>
            <li><i class="far fa-user-circle"></i></li>
          </ul>
        </div>
        <div class="input-button">
          <input type="text" name="search" value="" placeholder="Search..">
          <button type="button" name="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </header>
    <!-- /header -->
    <!-- main -->
    <main>
      <!-- jumbotron -->
      <section id="jumbotron">
        <div class="container-section">
          <div class="distant-learning-box">
            <div class="title-box">
              <h1>Distant learning for further expansion</h1>
              <p>Learning is a life-long journey that in fact we never find the terminate stop. Stop searching, enjoy the process.</p>
            </div>
            <div class="download-box">
              <button class="btn-green" type="button" name="button">
                <i class="fas fa-download"></i>
                Download free guide
              </button>
              <p>
                <a href="#">
                  Have questions?
                  <span>
                    Get Free Sample
                    <i class="fas fa-arrow-right"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
          <div class="images-box">
            <div class="elementor-image">
              <img src="img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" alt="">
            </div>
            <div class="images-box-dots">
              <div class="images-background-dots-1">
                <img src="img/maxcoach-shape-08.png" alt="">
                <img src="img/maxcoach-shape-08.png" alt="">
              </div>
              <div class="images-background-dots-2">
                <img src="img/maxcoach-shape-07.png" alt="">
              </div>
            </div>
            <div class="images-box-circle">
              <div class="images-background-circle-1">
                <img src="img/maxcoach-shape-02.png" alt="">
              </div>
              <div class="images-background-circle-2">
                <i class="far fa-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /jumbotron -->
      <!-- loghi -->
      <section id="logos">
        <div class="container-section">
          <div v-for="logo in logos" class="logo">
            <img  :src="logo" :alt="logo">
          </div>
        </div>
      </section>
      <!-- /loghi -->
      <!-- corsi online -->
      <section id="online-courses">
        <div class="container-section">
          <div class="title-section">
            <h5>STIMULATED TO LEARN?</h5>
            <h2>Featured Online Courses</h2>
          </div>
          <div class="courses-content">
            <div v-for="course in courses" class="course-box">
              <div class="img-course">
                <img :src="course.img" alt="">
              </div>
              <div class="info-course">
                <h5>{{ course.price }}</h5>
                <h4>{{ course.course }}</h4>
                <p>
                  <i class="far fa-file-alt"></i>
                  {{ course.lessons }}
                </p>
                <p>
                  <i class="far fa-user"></i>
                  {{ course.students }}
                </p>
              </div>
            </div>
          </div>
          <div class="btn-view-courses">
            <button class="btn-green" type="button" name="button">View all courses <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </section>
      <!-- /corsi online -->
      <!-- tutorial smart -->
      <section id="smart-tutoring">
        <div class="container-section">
          <div class="title-section">
            <h5>MAXCOACH AVAILABLE COURSES</h5>
            <h2>Access <span>Smart Tutoring</span> Program For Benefits.</h2>
          </div>
          <div v-for="tutoring in tutorings" class="tutoring-box">
            <div class="img-tutoring">
              <img :src="tutoring.img" :alt="tutoring.img">
            </div>
            <div class="info-tutoring">
              <h4>{{ tutoring.name }}</h4>
              <p>{{ tutoring.description }}</p>
              <a href="#">
                {{ tutoring.link }}
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="companionship">
            <div class="companionship-video-area">
              <div class="images-box">
                <div class="elementor-image">
                  <div class="video-play">
                    <img src="img/home-2-popup-video-poster.jpg" alt="video-poster">
                    <div class="icon-youtube-play">
                      <img src="img/icon-youtube-play.png" alt="icon-youtube">
                    </div>
                  </div>
                </div>
                <div class="images-box-dots">
                  <div class="images-background-dots-1">
                    <img src="img/maxcoach-shape-05-150x150.png" alt="images-background-dots-1">
                  </div>
                  <div class="images-background-dots-2">
                    <img src="img/maxcoach-shape-07.png" alt="maxcoach-shape-07">
                  </div>
                </div>
                <div class="images-box-circle">
                  <div class="images-background-circle-1">
                    <i class="far fa-circle"></i>
                  </div>
                  <div class="images-background-circle-2">
                    <img src="img/img-cir.png" alt="img-cir">
                  </div>
                </div>
              </div>
            </div>
            <div class="title-box">
              <h5>GET STARTED <span>EFFORTLESSLY</span></h5>
              <h1>Enjoy Our <span>Companionship</span></h1>
              <p>Sneek peek into what has in store for you on our online teaching and mentoring portal. Seek for some hidden hints of early-bird rewards as well.</p>
              <a href="#">
                Download free guidebook
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /tutorial smart -->
      <!-- recensioni -->
      <section id="top-learners">
        <div class="title-section">
          <h5>GREAT WORDS ABOUT MAXCOACH</h5>
          <h2>Our <span>top learners'</span> verbatim</h2>
        </div>
        <div class="row-testimonials">
          <div v-for="testimonial in testimonials" class="card-testimonial">
            <div class="review">
              <h4>{{ testimonial.title }}</h4>
              <p>{{ testimonial.review }}</p>
            </div>
            <div class="info-student">
              <div class="photo">
                <img :src="testimonial.image" alt="">
              </div>
              <div class="name-position">
                <h6>{{ testimonial.name }}</h6>
                <span>{{ testimonial.position }}</span>
              </div>
            </div>
          </div>
          <div class="slider">
            <i v-for="n in testimonials" class="fas fa-circle"></i>
          </div>
        </div>
        <div class="certification">
          <div class="bck-box">
            <div class="images-box-circle">
              <div class="images-background-circle-1">
                <i class="far fa-circle"></i>
              </div>
              <div class="images-background-circle-2">
                <img src="img/maxcoach-shape-01.png" alt="img-cir">
              </div>
            </div>
          </div>
          <div class="title-section">
            <h4>Start today for getting <span>Online Certification</span></h4>
            <h2>You can be your own guiding star with our help!</h2>
            <button class="btn-green" type="button" name="button">Get started now</button>
          </div>
          <div class="bck-box">
            <div class="images-box-circle">
              <div class="images-background-circle-3">
                <img src="img/maxcoach-shape-02.png" alt="img-cir">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ recensioni -->
      <!-- database -->
      <section id="database">
        <div class="container-section">
          <div class="database-row">
            <div v-for="data in dataBase" class="database-box">
              <h4>{{ data.title }}</h4>
              <div class="number">
                {{ data.number }}
              </div>
              <h5>{{ data.info }}</h5>
            </div>
          </div>
        </div>
      </section>
      <!-- /database -->
      <!--i migliori blogs -->
      <section id="best-blogs">
        <div class="container-section">
          <div class="link-blogs">
            <div class="title-section">
              <h5>ENJOYABLE INSIGHTS</h5>
              <h2>Most Viewed <span>Best Blogs</span></h2>
            </div>
            <div class="blogs-list">
              <ul>
                <li v-for="link in linkBlogs">
                  <div><i class="fas fa-arrow-right"></i></div>
                  <a href="#">{{ link }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="blogs-box">
            <div v-for="blog in blogs" class="blog-card">
              <div class="card-img">
                <img :src="blog.cover" alt="">
              </div>
              <div class="info-blog">
                <h5>{{ blog.category }}</h5>
                <h4>{{ blog.postTitle }}</h4>
                <p><i class="far fa-calendar"></i> {{ blog.postDate }}</p>
                <p><i class="far fa-eye"></i> {{ blog.postView }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /i migliori blogs -->
      <section id="newsletters">
        <div class="bck-box">
          <div class="images-box-circle">
            <div class="images-background-circle-1">
              <i class="far fa-circle"></i>
            </div>
          </div>
        </div>
        <div class="title-section">
          <h2>Subscribe <span>Newsletters</span></h2>
          <p>Enter your email address to register to our newsletter subscription delivered on a regular basis!</p>
          <div class="input-button">
            <input type="text" name="search" value="" placeholder="Enter your email">
            <button type="button" name="button">Subscribe</button>
          </div>
        </div>
        <div class="bck-box">
          <div class="images-box-circle">
            <div class="images-background-circle-2">
              <img src="img/maxcoach-shape-02.png" alt="">
            </div>
            <div class="images-background-circle-3">
              <img src="img/maxcoach-shape-09.png" alt="">
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer>
      <div class="container-section">
        <div class="contact">
          <h3>Address</h3>
          <div v-for="item in contact" class="">
            {{ item }}
          </div>
          <div class="email"><a href="#"> {{ email }} </a></div>
          <ul>
          <li>
            <a href="#">
              <i class="fab fa-facebook-square"></i>
             </a>
           </li>
            <li>
              <a href="#">
               <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li><a href="#">
              <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-list">
          <div class="list-box">
            <h3>Explore</h3>
            <ul>
              <li v-for="element in footerExplore">
                <a href="#">
                {{ element }}
                </a>
              </li>
            </ul>
          </div>
          <div class="list-box">
            <h3>Information</h3>
            <ul>
              <li v-for="element in footerInformation">
                <a href="#">
                  {{ element }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->
  </div>
<script src="js/script.js" charset="utf-8"></script>
</body>
</html>
