<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
  <!-- foglio di stile -->
  <link rel="stylesheet" href="css/app.css">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Max Coach</title>
</head>
<body>
  <div id="app" class="container">
    <!-- header -->
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="img/dark-logo.png" alt="logo">
        </div>
        <div id="menu-nav">
          <ul>
            <li><a href="#">Home<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="#">Pages<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="#">Courses<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="#">Features<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="#">Blog<i class="fas fa-chevron-down"></i></a></li>
            <li><a href="#">Shop<i class="fas fa-chevron-down"></i></a></li>
            <li><i class="far fa-user-circle"></i></li>
          </ul>
        </div>
        <div class="header-search">
          <input type="text" name="search" value="" placeholder="Search..">
          <button type="button" name="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </header>
    <!-- /header -->
    <!-- main -->
    <main>
      <section id="jumbotron">
        <div class="jumbotron-container">
          <div class="distant-learning-box">
            <div class="title-box">
              <h1>Distant learning for further expansion</h1>
              <p>Learning is a life-long journey that in fact we never find the terminate stop. Stop searching, enjoy the process.</p>
            </div>
            <div class="download-box">
              <button class="btn-green" type="button" name="button">
                <i class="fas fa-download"></i>
                Download free guide
              </button>
              <p>
                <a href="#">
                  Have questions?
                  <span>Get Free Sample <i class="fas fa-arrow-right"></i></span>
                </a>
              </p>
            </div>
          </div>
          <div class="images-box">
            <div class="elementor-image">
              <img src="img/about-me-profile-ohm4dxoearqbxny7q3bq1pzbdgofdx0tobbeqcvzd0.jpg" alt="">
            </div>
            <div class="images-box-dots">
              <div class="images-background-dots-1">
                <img src="img/maxcoach-shape-08.png" alt="">
                <img src="img/maxcoach-shape-08.png" alt="">
              </div>
              <div class="images-background-dots-2">
                <img src="img/maxcoach-shape-07.png" alt="">
              </div>
            </div>
            <div class="images-box-circle">
              <div class="images-background-circle-1">
                <img src="img/maxcoach-shape-02.png" alt="">
              </div>
              <div class="images-background-circle-2">
                <i class="far fa-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="logos">
        <div class="container-logos">
          <div v-for="logo in logos" class="logo">
            <img  :src="logo" :alt="logo">
          </div>
        </div>
      </section>
      <section id="online-courses">
        <div class="container-online-courses">
          <div class="title-online">
            <p>STIMULATED TO LEARN?</p>
            <h2>Featured Online Courses</h2>
          </div>
          <div class="courses-content">
            <div v-for="course in courses" class="course-box">
              <div class="img-course">
                <img :src="course.img" alt="">
              </div>
              <div class="info-course">
                <h5>{{ course.price }}</h5>
                <h4>{{ course.course }}</h4>
                <p>
                  <i class="far fa-file-alt"></i>
                  {{ course.lessons }}
                </p>
                <p>
                  <i class="far fa-user"></i>
                  {{ course.students }}
                </p>
              </div>
            </div>
          </div>
          <div class="btn-view-courses">
            <button class="btn-green" type="button" name="button">View all courses <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </section>
      <section id="smart-tutoring">
        <div class="container-smart-tutoring">
          <div class="title-tutoring">
            <p>MAXCOACH AVAILABLE COURSES</p>
            <h2>Access Smart Tutoring Program For Benefits.</h2>
          </div>
          <div v-for="tutoring in tutorings" class="tutoring-box">
            <div class="img-tutoring">
              <img :src="tutoring.img" :alt="tutoring.img">
            </div>
            <div class="info-tutoring">
              <h4>{{ tutoring.name }}</h4>
              <p>{{ tutoring.description }}</p>
              <a href="#">
                {{ tutoring.link }}
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="companionship">
            <div class="companionship-video-area"></div>
            <div class="companionship-title"></div>
          </div>
        </div>

      </section>
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer></footer>
    <!-- /footer -->
  </div>
<script src="js/script.js" charset="utf-8"></script>
</body>
</html>
