* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}
body {
  background-color: $colorGray;
}
:focus {
  outline: none;
}
a {
  font-weight: 700;
  text-decoration: none;
  text-underline-position: under;
  @include transition-change;
  &:hover {
    color: $colorGreen;
  }
}
h1, h2, h3 {
  color: $colorGun;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  line-height: 1.6;
  padding: 10px 0;
  font-weight: 700;
  color: $colorGun;
}
// h5 title inizio section
h5 {
  color: $colorText;
  font-size: 15px;
  letter-spacing: 4px;
}
p {
  color: $colorText;
  letter-spacing: 1px;
}
span {
  color: $colorGreen;
}
// container 1200px
.container-section {
  @include wrap;
}
.active {
  @include display-flex-column;
}
.hidden {
  display: none;
}
// titiolo della section
.title-section {
  @include titleSection;
}
// cursor
button, li {
  cursor: pointer;
}
// button
.btn-green {
  @include btn;
  font-weight: bolder;
  font-size: 16px;
  background-color: $colorGreen;
  color: $colorWhite;
  @include transition-change;
  &:hover {
    background-color: $colorGun;
  }
}
// immagine presnte nel jumbotron e smart-tutoring
.elementor-image {
  position: absolute;
  padding-top: 50px;
}
// immagini di background con puntini e cerchi presenti nel jumbotron, smart-tutoring, top learners e newsletters
.bck-box {
  position: relative;
  width: 20%;
}
.images-box-dots, .images-box-circle {
  position: absolute;
  width: 100%;
  height: 100%;
}
.images-box-dots {
  .images-background-dots-1, .images-background-dots-2 {
    @include imagesBackgroundDots;
  }
}
.images-box-circle {
  .images-background-circle-1, .images-background-circle-2, .images-background-circle-3 {
    @include imagesBackgroundCircle;
    i {
      font-size: 80px;
    }
  }
}
// titolo box jumbotron e smart-tutoring
.title-box {
  h1 {
    font-size: 48px;
    padding-bottom: 16px;
  }
  p {
    font-size: 18px;
    line-height: 34px;
  }
}
// input più button header-search e newsletters
.input-button {
  height: 50px;
  border-radius: 3px;
  background-color: $colorGray;
  input {
    height: 100%;
    padding: 15px;
    border: 0px;
    border-radius: 6px 0 0 6px;
    background-color: $colorGray;
  }
  button {
    height: 100%;
    border: 0;
    border-radius: 0 6px 6px 0;
    @include transition-change;
  }
}
