#jumbotron {
  background-color: $colorWhite;
  .container-section {
    @include clearfix;
    padding-top: 80px;
    .distant-learning-box {
      float: left;
      width: 50%;
      padding-right: 140px;
      .title-box {
        margin-top: 180px;
      }
      .download-box {
        margin-top: 30px;
        button {
          margin-bottom: 20px;
        }
        a {
          color: $colorText;
          span {
            @include linkGreen;
            text-decoration: underline;
            i {
              color: $colorGreen;
            }
          }
        }
      }
    }
    .images-box {
      float: left;
      @include containerBackgroundDotsCircle;
      .elementor-image {
        z-index: 2;
        img {
          border-radius: $borderImg;
        }
      }
      .images-box-dots {
        .images-background-dots-1 {
          @include display-flex-column;
          top: 200px;
          left: -100px;
          img {
            margin: 10px 0;
          }
        }
        .images-background-dots-2 {
          right: 55px;
          bottom: 40px;
        }
      }
      .images-box-circle {
        .images-background-circle-1 {
          right: -70px;
          top: 100px;
        }
        .images-background-circle-2 {
          left: -30px;
          bottom: 150px;
          i {
            font-size: 60px;
          }
        }
      }
    }
  }
}
