$colorGreen: #20ad97;
// colore di sfondo grigio chiaro
$colorGray: #F8F8F8;
$colorWhite: #FFFF;
// colore grigio scuro
$colorText: #696969;
// colore blue scuro
$colorGun: #3F3A64;
// colore beige chiaro
$colorBeige: #F5F1ED;
// border-radius 50% delle immagini
$borderImg: 50%;
$borderBox5px: 5px;
